.product-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    gap: 16px;

    .half-width {
        flex: 1;
    }
}