.product-form {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.full-width {
    width: 100%;
}

.row {
    display: flex;
    gap: 16px;

    .half-width {
        flex: 1;
    }
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-floating-label--float-above {
    --mdc-outlined-text-field-label-text-color: white;
    color: var(--mdc-outlined-text-field-label-text-color);
}