@import '../../../styles/colors.scss';

.registry-container {
    background-color: $color-background;
    margin: 3rem auto;
    padding: 1rem;
    border-radius: 15px;
    width: 80%;
}

h2 {
    color: $color-primary;
    text-align: center;
}

.registry-form {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: $color-text-primary;
}

input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid $color-accent;
    outline: none;
    font-size: 13px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.info {
    color: $color-text-primary;
    font-size: 11px;

}

.error {
    color: $color-error;
    font-size: 11px;
}

.is-invalid {
    border: 1px solid $color-error;
}

button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: $color-accent;
    color: white;
    cursor: pointer;
    font-size: 15px;
   &:hover {
    background-color: $color-secondary;
   }

   &.invalid {
    background-color: $color-text-secondary;
   }
}

