<div class="registry-container">
    <h2>Cadastro de Usuário</h2>

    <form (submit)="submit()" [formGroup]="formGroup" class="registry-form">
        <div class="input-container">
            <label for="phone">Número de celular</label>
            <input placeholder="(00) 00000-0000" mask="(00) 00000-0000" id="phone" formControlName="phoneNumber"
                type="text"
                [ngClass]="{'is-invalid': formGroup.get('phoneNumber')?.touched && formGroup.get('phoneNumber')?.invalid }">
            <div class="error" *ngIf="formGroup.get('phoneNumber')?.touched && formGroup.get('phoneNumber')?.invalid">
                Número de celular inválido.</div>
        </div>

        <div class="input-container">
            <label for="password">Senha</label>
            <input id="password" type="password" formControlName="password" placeholder="Digite sua senha"
                [ngClass]="{'is-invalid': formGroup.get('password')?.touched && formGroup.get('password')?.invalid}">
            <div class="info"
                [ngClass]="{'error': formGroup.get('password')?.touched && formGroup.get('password')?.invalid}">
                Sua senha deve ter no mínimo 5 caracteres.
            </div>
        </div>

        <div class="input-container">
            <label for="businessName">Nome do Estabelecimento</label>
            <input id="businessName" type="text" formControlName="businessName"
                placeholder="Digite o nome do seu estabelecimento"
                [ngClass]="{'is-invalid': formGroup.get('businessName')?.touched && formGroup.get('businessName')?.invalid}">
            <div class="info"
                [ngClass]="{'error': formGroup.get('businessName')?.touched && formGroup.get('businessName')?.invalid}">
                O nome do estabelecimento é obrigatório.
            </div>
        </div>

        <div class="input-container">
            <label for="businessType">Tipo de Negócio</label>
            <select id="businessType" formControlName="businessType" class="custom-select">
                <option value="Outros">Outros</option>
                <option value="Pet Shop">Pet Shop</option>
                <option value="Cabelos">Cabelos</option>
                <option value="Unhas">Unhas</option>
                <option value="Cílios">Cílios</option>
            </select>
        </div>

        <button [disabled]="formGroup.invalid" [ngClass]="{'invalid': formGroup.invalid}" type="submit">Cadastrar
        </button>
    </form>
</div>